<section flex layout="row" class="about-section" ng-controller="AboutControllerController">
	<!-- <div layout="row" layout-align="center start"><h1 class="md-display-2 amber-header">Welcome!</h1></div> -->
	<div flex="33" layout="column" layout-align="start center">
		A little write-up about myself will go here and some other kind of visual element to make it less boring.
	</div>
	<div flex="33" layout="column" layout-align="start center">
		A picture and some smart assed remarks here
	</div>
	<div flex="33" layout="column" layout-align="start center">
		<md-card class="last-card">
		<h4 class="card-title">Last 10 songs I've listened to...</h4>
			<md-card-content id="lastfm-widget"></md-card-content>
		</md-card>
	</div>
</section>