<section flex layout="row" class="about-section" ng-controller="AboutControllerController">
	<!-- <div layout="row" layout-align="center start"><h1 class="md-display-2 amber-header">Welcome!</h1></div> -->
	<div flex="33" layout="column" layout-align="start center">
		A little write-up about myself will go here and some other kind of visual element to make it less boring.
	</div>
	<div flex="33" layout="column" layout-align="start center">
		A picture and some smart assed remarks here
	</div>
	<div flex="33" layout="column" layout-align="start center">
		lastfm widget will be here
	</div>
</section>