<div class="big-flat-header" data-ng-controller="HeaderController" flex>
    <md-toolbar layout="row">
    	<div flex>
        	<h1 class="my-name">Joey Gauthier</h1>
		</div>
		<div flex>
			<!-- <div class="lock-size" layout="row" layout-align="center center">
		    <md-fab-speed-dial md-open="socialFab.isOpen" md-direction="{{socialFab.selectedDirection}}" ng-class="socialFab.selectedMode">
		       	<md-fab-trigger>
		         	<md-button aria-label="menu" class="md-fab md-accent no-margin">
		           		<md-icon md-svg-icon="menu"></md-icon>
		         	</md-button>
		       	</md-fab-trigger>
		       	<md-fab-actions>
		         	<md-button aria-label="twitter" class="md-fab md-raised md-mini" href="http://www.twitter.com/jgdigitaljedi">
		           		<md-icon md-svg-icon="twitter"></md-icon>
		         	</md-button>
		         	<md-button aria-label="google_plus" class="md-fab md-raised md-mini">
		           		<md-icon md-svg-icon="google_plus"></md-icon>
		         	</md-button>
		         	<md-button aria-label="Google hangout" class="md-fab md-raised md-mini">
		           		<md-icon md-svg-src="img/icons/hangout.svg"></md-icon>
		         	</md-button>
		       </md-fab-actions>
		    </md-fab-speed-dial>
		</div> -->
		</div>
		<div id="weather-container" flex>
			<h1 class="the-weather">{{userCity}}: {{currentTemp}}&deg;f </h1><img class="current-weather-icon" ng-src="{{geoIcon}}" />
		</div>
    </md-toolbar>
</div>