<div class="big-flat-header" data-ng-controller="HeaderController" flex>
    <md-toolbar layout="row">
    	<div flex="33">
        	<h1 class="my-name">Joey Gauthier</h1>
		</div>
		<div flex="33" layout="row" layout-align="space-around center" class="centered">
			<div flex="25">
				<a href="http://www.twitter.com/jgdigitaljedi" target="_blank"><img src="/assets/images/twitter_icon.png" class="social-icons" /></a>
			</div>
			<div flex="25">
				<a href="https://www.linkedin.com/in/paulgauthier81" target="_blank"><img src="/assets/images/linkedin_icon.png" class="social-icons" /></a>
			</div>
			<div flex="25">
				<a href="https://github.com/jgdigitaljedi" target="_blank"><img src="/assets/images/github_icon.png" class="social-icons" /></a>
			</div>
			<div flex="25">
				<a href="https://plus.google.com/u/0/+JoeyGauthier/posts" target="_blank"><img src="/assets/images/googleplus_icon.png" class="social-icons" /></a>
			</div>
		</div>
		<div id="weather-container" flex="33">
			<h1 class="the-weather">{{userCity}}: {{currentTemp}}&deg;f </h1><img class="current-weather-icon" ng-src="{{geoIcon}}" />
		</div>
    </md-toolbar>
</div>