<div flex layout="row" id="home-section" layout-fill data-ng-controller="HomeController">
    <md-content flex id="main-content">
    	<md-content class="md-padding trans-back">
    	    <md-tabs md-dynamic-height md-border-bottom>
    	        <md-tab label="About Me">
    	        	<md-content class="md-padding trans-back" data-ng-include="'/modules/core/views/about.view.html'"></md-content>
    	      	</md-tab>
    	      	<md-tab label="Projects">
    	        	<md-content class="md-padding trans-back" data-ng-include="'/modules/core/views/projects.view.html'"></md-content>
    	      	</md-tab>
    	      	<md-tab label="{{resume}}">
    	        	<md-content class="md-padding trans-back" data-ng-include="'/modules/core/views/resume.view.html'"></md-content>
    	      	</md-tab>
    	      	<md-tab label="Contact Me">
    	        	<md-content class="md-padding trans-back" data-ng-include="'/modules/core/views/contact.view.html'"></md-content>
    	      	</md-tab>
    	      	<md-tab label="Just for Fun">
    	        	<md-content class="md-padding trans-back" data-ng-include="'/modules/core/views/fun.view.html'"></md-content>
    	      	</md-tab>
    	    </md-tabs>
    	</md-content>
    </md-content>
</div>