<div flex layout="row" id="home-section" layout-fill data-ng-controller="HomeController">
    <md-content flex id="main-content">
    	<md-content class="md-padding trans-back">
    	    <md-tabs md-dynamic-height md-swipe-content md-center-tabs md-selected="0">
    	        <md-tab label="Welcome">
    	        	<div class="md-padding trans-back" data-ng-include="'/modules/core/views/about.view.html'"></div>
    	      	</md-tab>
                <md-tab label="Social">
                    <div class="md-padding trans-back" data-ng-include="'/modules/core/views/social.view.html'"></div>
                </md-tab>
    	      	<md-tab label="Projects">
    	        	<div class="md-padding trans-back" data-ng-include="'/modules/core/views/projects.view.html'"></div>
    	      	</md-tab>
    	      	<md-tab label="{{resume}}">
    	        	<div class="md-padding trans-back" data-ng-include="'/modules/core/views/resume.view.html'"></div>
    	      	</md-tab>
    	      	<md-tab label="Contact Me">
    	        	<div class="md-padding trans-back" data-ng-include="'/modules/core/views/contact.view.html'"></div>
    	      	</md-tab>
    	      	<!-- <md-tab label="Just for Fun">
    	        	<md-content class="md-padding trans-back" data-ng-include="'/modules/core/views/fun.view.html'"></md-content>
    	      	</md-tab> -->
    	    </md-tabs>
    	</md-content>
    </md-content>
</div>
