<div flex layout="row" id="home-section" data-ng-controller="HomeController">
 
    <!-- Container #3 Left -->
    <md-sidenav md-is-locked-open="true" md-component-id="left" class="md-primary md-hue-2">
        <md-list>
            <!-- <md-item ng-repeat="it in ul.users">
                <md-button ng-click="ul.selectUser(it)"
                           ng-class="{'selected' : it === ul.selected }">
                    <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                    {{it.name}}
                </md-button>
            </md-item> -->
            <md-item><h1 class="sidenav-option">Welcome!</h1></md-item>
            <md-divider></md-divider>
            <md-item><h1 class="sidenav-option">About Me</h1></md-item>
            <md-divider></md-divider>
            <md-item><h1 class="sidenav-option">Projects</h1></md-item>
            <md-divider></md-divider>
            <md-item><h1 class="sidenav-option">Resume</h1></md-item>
            <md-divider></md-divider>
            <md-item><h1 class="sidenav-option">Contact Me</h1></md-item>
            <md-divider></md-divider>
            <md-item><h1 class="sidenav-option">Just for Fun</h1></md-item>

        </md-list>
    </md-sidenav>
    <md-content flex id="main-content">
		<div class="lock-size" layout="row" layout-align="end center">
		    <md-fab-speed-dial md-open="socialFab.isOpen" md-direction="{{socialFab.selectedDirection}}" ng-class="socialFab.selectedMode">
		       	<md-fab-trigger>
		         	<md-button aria-label="menu" class="md-fab md-accent">
		           		<md-icon md-svg-icon="menu"></md-icon>
		         	</md-button>
		       	</md-fab-trigger>
		       	<md-fab-actions>
		         	<md-button aria-label="twitter" class="md-fab md-raised md-mini" href="http://www.twitter.com/jgdigitaljedi">
		           		<md-icon md-svg-icon="twitter"></md-icon>
		         	</md-button>
		         	<md-button aria-label="google_plus" class="md-fab md-raised md-mini">
		           		<md-icon md-svg-icon="google_plus"></md-icon>
		         	</md-button>
		         	<md-button aria-label="Google hangout" class="md-fab md-raised md-mini">
		           		<md-icon md-svg-src="img/icons/hangout.svg"></md-icon>
		         	</md-button>
		       </md-fab-actions>
		    </md-fab-speed-dial>
		</div>
    </md-content>
</div>