.about-section {
  color: #f1f1f1;
  height: 77vh;
}
.about-section .about-me-bio-area .my-name {
  font-size: 5em;
  font-family: 'langdon';
  margin: 30px auto 12px;
}
.about-section .about-me-bio-area .my-profession {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 auto 12px;
  -webkit-text-shadow: 1px 1px #222;
  text-shadow: 1px 1px #222;
}
.about-section .about-me-bio-area .small-desc-line {
  color: #ffc107;
  font-weight: bold;
  margin: 0 auto 12px;
  -webkit-text-shadow: 1px 1px #222;
  text-shadow: 1px 1px #222;
}
.about-section .last-fm-section {
  min-height: 18vh;
}
.about-section .last-fm-section .lastfm-ender {
  border-left: 1px solid #f1f1f1;
  padding-left: 10px;
}
.about-section .spinner {
  width: 289px;
}
.about-section .decor {
  height: 80px;
  width: 80px;
}
.about-section .pics-of-me {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin-bottom: 16px;
}
.about-section .divider-graphic {
  width: 70%;
  height: 70%;
}
.about-section .writeup-box {
  text-align: center;
  width: 100%;
  margin-top: 6px;
}
.about-section .top-corner {
  margin: 0 -10px -10px 0;
}
.about-section .bottom-corner {
  margin: -10px 0 0 -10px;
}
.about-section .middle-bio {
  color: #ffc107;
}
.about-section .bottom-bio {
  color: white;
}
.about-section .left-half {
  width: 70%;
  font-size: .8em;
  padding: 0;
  margin: 0 auto;
}
.about-section .song-image {
  height: 52px;
  width: 52px;
  margin: 2px 10px 1px auto;
}
.about-section .last-card {
  margin: 12px auto 0;
  text-align: center;
}
.about-section .last-card a:link,
.about-section .last-card a:hover {
  text-decoration: none;
  color: black;
}
.about-section .last-card span {
  -webkit-text-shadow: 1px 1px #222;
  text-shadow: 1px 1px #222;
}
.about-section .card-title {
  margin-bottom: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #424242 inset;
  -webkit-text-fill-color: white !important;
}
.success-icon {
  width: 100%;
  text-align: center;
  color: #ffc107;
}
.alert-text {
  color: white;
}
.contact-section .contact-header {
  color: white;
  font-weight: bold;
}
.contact-section .contact-form {
  width: 60%;
}
.contact-section .half-width {
  width: 50%;
}
.contact-section .accent-label {
  color: #ffc107;
}
.contact-section .trans-back {
  background: transparent;
}
.contact-section .height-fix {
  min-height: 280px;
}


.big-flat-header h1 {
  margin-left: 10px;
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;
  font-family: 'Exo', sans-serif;
}
.big-flat-header #weather-container {
  text-align: right;
}
.big-flat-header .current-weather-icon {
  height: 40px;
  display: inline-block;
  margin: 5px 0 -13px;
}
#home-section #main-content {
  background-image: url('/assets/images/AustinSkylineCropped.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 0px !important;
  width: 200px !important;
  max-width: none !important;
}
.sidenav-option {
  color: #607d8b;
  margin-left: 18px;
  font-family: 'Exo', sans-serif;
}
.foot {
  bottom: 0;
  position: absolute;
  margin: 0 auto;
}
.trans-back {
  background: transparent;
}
.no-margin {
  margin: 0 auto;
}
.amber-header {
  color: #ffc107;
}
.social-icons {
  height: 45px;
  margin-top: 3px;
}
.centered {
  margin: 0 auto;
  text-align: center;
}

@import url('http://fonts.googleapis.com/css?family=Viga|Signika');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700,800,400italic,700italic,900');
.big-flat-header h1 {
  margin-left: 10px;
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;
  font-family: 'Exo', sans-serif;
}
.big-flat-header #weather-container {
  text-align: right;
}
.big-flat-header .current-weather-icon {
  height: 40px;
  display: inline-block;
  margin: 5px 0 -13px;
}
#home-section #main-content {
  background-image: url('/assets/images/AustinSkylineCropped.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 0px !important;
  width: 200px !important;
  max-width: none !important;
}
.sidenav-option {
  color: #607d8b;
  margin-left: 18px;
  font-family: 'Exo', sans-serif;
}
.foot {
  bottom: 0;
  position: absolute;
  margin: 0 auto;
}
.trans-back {
  background: transparent;
}
.no-margin {
  margin: 0 auto;
}
.amber-header {
  color: #ffc107;
}
.social-icons {
  height: 45px;
  margin-top: 3px;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
.about-section {
  color: #f1f1f1;
  height: 77vh;
}
.about-section .about-me-bio-area .my-name {
  font-size: 5em;
  font-family: 'langdon';
  margin: 30px auto 12px;
}
.about-section .about-me-bio-area .my-profession {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 auto 12px;
  -webkit-text-shadow: 1px 1px #222;
  text-shadow: 1px 1px #222;
}
.about-section .about-me-bio-area .small-desc-line {
  color: #ffc107;
  font-weight: bold;
  margin: 0 auto 12px;
  -webkit-text-shadow: 1px 1px #222;
  text-shadow: 1px 1px #222;
}
.about-section .last-fm-section {
  min-height: 18vh;
}
.about-section .last-fm-section .lastfm-ender {
  border-left: 1px solid #f1f1f1;
  padding-left: 10px;
}
.about-section .spinner {
  width: 289px;
}
.about-section .decor {
  height: 80px;
  width: 80px;
}
.about-section .pics-of-me {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin-bottom: 16px;
}
.about-section .divider-graphic {
  width: 70%;
  height: 70%;
}
.about-section .writeup-box {
  text-align: center;
  width: 100%;
  margin-top: 6px;
}
.about-section .top-corner {
  margin: 0 -10px -10px 0;
}
.about-section .bottom-corner {
  margin: -10px 0 0 -10px;
}
.about-section .middle-bio {
  color: #ffc107;
}
.about-section .bottom-bio {
  color: white;
}
.about-section .left-half {
  width: 70%;
  font-size: .8em;
  padding: 0;
  margin: 0 auto;
}
.about-section .song-image {
  height: 52px;
  width: 52px;
  margin: 2px 10px 1px auto;
}
.about-section .last-card {
  margin: 12px auto 0;
  text-align: center;
}
.about-section .last-card a:link,
.about-section .last-card a:hover {
  text-decoration: none;
  color: black;
}
.about-section .last-card span {
  -webkit-text-shadow: 1px 1px #222;
  text-shadow: 1px 1px #222;
}
.about-section .card-title {
  margin-bottom: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #424242 inset;
  -webkit-text-fill-color: white !important;
}
.success-icon {
  width: 100%;
  text-align: center;
  color: #ffc107;
}
.alert-text {
  color: white;
}
.contact-section .contact-header {
  color: white;
  font-weight: bold;
}
.contact-section .contact-form {
  width: 60%;
}
.contact-section .half-width {
  width: 50%;
}
.contact-section .accent-label {
  color: #ffc107;
}
.contact-section .trans-back {
  background: transparent;
}
.contact-section .height-fix {
  min-height: 280px;
}
.projects-section md-content {
  background: transparent;
}
.projects-section md-content md-toolbar {
  color: #f1f1f1;
  background-color: #607d8b;
}
.projects-section md-content md-toolbar .project-radios {
  justify-content: space-around;
}
.projects-section md-content md-toolbar md-radio-button {
  text-align: center;
}
.projects-section md-content .projects-grid .project-tile {
  background-size: contain;
  cursor: pointer;
}
.projects-section md-content .projects-grid .my-dash-tile {
  background-image: url('../../../assets/images/dash.png');
}
.projects-section md-content .projects-grid .lassos-tile {
  background-image: url('../../../assets/images/lassos.png');
}
.projects-section md-content .projects-grid .rr-tile {
  background-image: url('../../../assets/images/rr.png');
}
.projects-section md-content .projects-grid .toolbox-tile {
  background-image: url('../../../assets/images/toolbox.png');
}
.projects-section md-content .projects-grid .port-tile {
  background-image: url('../../../assets/images/newPort.png');
}
.projects-section md-content .projects-grid md-grid-tile-footer {
  background-color: rgba(0, 0, 0, 0.6);
}
.projects-section md-content .projects-grid md-grid-tile-footer h3 {
  color: #ffc107;
}
@font-face {
  font-family: 'langdon';
  src: url('../../core/assets/fonts/langdon-webfont.eot');
  src: url('../../core/assets/fonts/langdon-webfont.eot?#iefix') format('embedded-opentype'), url('../../core/assets/fonts/langdon-webfont.woff') format('woff'), url('../../core/assets/fonts/langdon-webfont.ttf') format('truetype'), url('../../core/assets/fonts/langdon-webfont.svg#Langdon') format('svg');
}
body {
  font-family: 'Exo', sans-serif;
  color: #f1f1f1;
}

.projects-section md-content {
  background: transparent;
}
.projects-section md-content md-toolbar {
  color: #f1f1f1;
  background-color: #607d8b;
}
.projects-section md-content md-toolbar .project-radios {
  justify-content: space-around;
}
.projects-section md-content md-toolbar md-radio-button {
  text-align: center;
}
.projects-section md-content .projects-grid .project-tile {
  background-size: contain;
  cursor: pointer;
}
.projects-section md-content .projects-grid .my-dash-tile {
  background-image: url('../../../assets/images/dash.png');
}
.projects-section md-content .projects-grid .lassos-tile {
  background-image: url('../../../assets/images/lassos.png');
}
.projects-section md-content .projects-grid .rr-tile {
  background-image: url('../../../assets/images/rr.png');
}
.projects-section md-content .projects-grid .toolbox-tile {
  background-image: url('../../../assets/images/toolbox.png');
}
.projects-section md-content .projects-grid .port-tile {
  background-image: url('../../../assets/images/newPort.png');
}
.projects-section md-content .projects-grid md-grid-tile-footer {
  background-color: rgba(0, 0, 0, 0.6);
}
.projects-section md-content .projects-grid md-grid-tile-footer h3 {
  color: #ffc107;
}

