.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
public/dist/
app/tests/coverage/
.bower-*/
.idea/
mongod.lock
journal/
journal/lsn
newportfolio-dev.0
local.0
local.ns
newportfolio-dev.ns
data/journal/j._0
data/journal/lsn
data/local.0
data/local.ns
data/mongod.lock
data/test.0
data/test.ns
keys.json
newportfolio-dev.ns
newportfolio-dev.0
