@import url('http://fonts.googleapis.com/css?family=Viga|Signika');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700,800,400italic,700italic,900');
@import 'index.less';
@import 'about.less';
@import 'contact.less';
@import 'projects.less';
@import 'fun.less';
@import 'resume.less';

@font-face {
  font-family: 'langdon';
  src: url('../../core/assets/fonts/langdon-webfont.eot');
  src: url('../../core/assets/fonts/langdon-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../core/assets/fonts/langdon-webfont.woff') format('woff'),
  url('../../core/assets/fonts/langdon-webfont.ttf') format('truetype'),
  url('../../core/assets/fonts/langdon-webfont.svg#Langdon') format('svg');
}

body {
  font-family: 'Exo', sans-serif;
  color: #f1f1f1;
}
