<section id="rr-section" flex layout="row" layout-fill ng-controller="RrController as rrVm">
	<div layout="column" layout-fill layout-align="start center">
		<p class="rr-title restaurant slide-in">restaurant</p>
		<p class="rr-title roulette slide-in">roulette</p>
		<p class="tilted-remix show">[remix]</p>
		<div layout="row" flex> 
			<md-card class="welcome-card fade-in">
			    <md-card-title>
			      	<md-card-title-text>
			        	<div class="md-headline" style="text-align: center;">
			        		<i class="fa fa-cutlery"></i>
			        		 Let's Get Started 
			        		<i class="fa fa-cutlery"></i>
			        	</div>
			      	</md-card-title-text>
			      	<br>
			      	<md-card-title-media>
			        	<div class="md-media-lg card-media" style="text-align: center;">
			        	To get started, please select whether to use
			        	your current location or enter one manually.
			        	</div>
			      	</md-card-title-media>
			    </md-card-title>
			    <hr>
			    <md-card-actions layout="row" layout-align="center center">
			      	<md-button><i class="fa fa-map-marker"></i> Current Location</md-button> || 
			      	<md-button>Enter Location <i class="fa fa-globe"></i></md-button>
			    </md-card-actions>
			</md-card>
		</div>
	</div>
</section>